@use "../foundation/base" as *;

.footer {
  @include innerWidth;
  margin: 0 auto;
  position: relative;
  z-index: 2;
  @include media(bp1240) {
    width: 98%;
  }
  @include media(bp1025) {
    width: calc(100% - 100px);
  }
}
.footer-inner {
  display: grid;
  grid-template-columns: auto auto auto auto auto auto;
  justify-content: center;
  align-items: flex-start;
  @include media(bp1025) {
    grid-template-columns: 1fr;
    row-gap: 36px;
  }
}
.footer-logo {
  margin-right: 62px;
}
.company-name {
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 1.8px;
}
.footer-text {
  font-family: $family-A-OTF-UDReiminPro-Light;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
.footer-email {
  display: block;
  font-family: $family-A-OTF-UDReiminPro-Light;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.5px;
}
.footer-tel {
  display: block;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 30px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 3px;
  margin: 15px 0 30px;
}
.footer-sns {
  display: flex;
  column-gap: 30px;
}
.footer-border {
  width: 2px;
  height: 100%;
  background-color: $color-text;
  margin: 0 60px;
  @include media(bp1025) {
    display: none;
  }
}
.footer-nav {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  @include media(bp1025) {
    display: none;
  }
}
.footer-link {
  a {
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
}
.shop-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.shop-text {
  margin-bottom: 9px;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 1.8px;
  @include media(bp1025) {
    display: none;
  }
}
.footer-btm {
  margin-top: 200px;
  padding-bottom: 128px;
  p {
    text-align: center;
    font-family: $family-A-OTF-UDReiminPro-Light;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.4px;
  }
}
.footer-nav-sp {
  display: none;
}

@include media(bp1025) {
  .footer-nav-sp {
    display: flex;
    align-items: center;
    column-gap: 9px;
    margin-bottom: 37px;
  }
}

@include media(bp767) {
  .footer-inner {
    row-gap: 6px;
  }
  .footer-logo {
    img {
      width: 152px;
    }
  }
  .company-name {
    font-size: 12px;
    letter-spacing: 1.2px;
  }
  .footer-text {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .footer-email {
    font-size: 10px;
    letter-spacing: 1px;
  }
  .footer-tel {
    font-size: 20px;
    letter-spacing: 2px;
    margin: 12px 0 21px;
  }
  .footer-nav-sp {
    margin-bottom: 37px;
  }
  .footer-link {
    font-size: 11px;
    a {
      font-size: 11px;
    }
  }
  .footer-sns {
    column-gap: 24px;
    margin-bottom: 23px;
    img {
      width: 35px;
      height: 35px;
    }
  }
  .shop-list {
    flex-direction: initial;
    column-gap: 22px;
  }
  .auro-icon {
    width: 64.782px;
  }
  .yahoo-icon {
    width: 35.208px;
  }
  .rakuten-icon {
    width: 35.208px;
  }
  .footer-btm {
    margin-top: 100px;
    padding-bottom: 87px;
    p {
      font-size: 10px;
      letter-spacing: 1px;
    }
  }
}
