@use "../../foundation/base" as *;

.single {
  padding-bottom: 411px;
}
.single-fv {
  position: relative;
  z-index: 2;
  width: 100%;
  height: calc(100vh - 64px);
}
.single-featured-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.single-nav-link {
  margin: 35px auto 0;
  @include innerWidth;
  display: flex;
  position: relative;
  z-index: 2;
  a {
    color: #ad9f96;
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
  }
}
.single-logo {
  display: block;
  margin: 93px auto 150px;
  img {
    display: block;
    margin: 0 auto;
  }
}
.single-border {
  width: 72px;
  height: 4px;
  background-color: $color-text;
  margin: 0 auto;
}
.single-cat-name {
  position: relative;
  z-index: 2;
  width: fit-content;
  margin: 154px auto 24px;
  a {
    color: #fff;
    text-align: justify;
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 28px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    background-color: $color-text;
    padding: 10px 36px;
    border-radius: 999px;
    margin: 0 auto;
  }
}
.single-title {
  width: fit-content;
  margin: 0 auto;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 36px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  position: relative;
  z-index: 2;
}
.single-contents {
  width: 90%;
  max-width: 800px;
  margin: 200px auto;
  position: relative;
  z-index: 2;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  word-wrap: break-word;
  h2 {
    font-size: 32px;
    margin-bottom: 60px;
  }
  h3 {
    font-size: 24px;
    margin-bottom: 40px;
  }
  h4 {
    font-size: 20px;
    margin-bottom: 32px;
  }
  h5,
  h6 {
    font-size: 18px;
    margin-bottom: 24px;
  }
  p {
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 16px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin-bottom: 100px;
  }
  img {
    margin-bottom: 100px;
  }
  ul,
  ol {
    margin-bottom: 60px;
    li {
      margin-bottom: 20px;
    }
  }
  hr {
    width: 100%;
    background-color: $color-text;
    margin-bottom: 100px;
  }
}

.back-btn {
  position: relative;
  z-index: 3;
  width: fit-content;
  margin: 0 auto 150px;
  a {
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 24px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    display: block;
    border-radius: 999px;
    border: 1px solid $color-text;
    background-color: #fff;
    padding: 7.25px 127px;
    position: relative;
    transition: background-color 0.4s ease, color 0.4s ease,
      border-color 0.4s ease;
    &::after {
      content: "";
      width: 127.5px;
      height: 2px;
      background-color: $color-text;
      position: absolute;
      top: 50%;
      left: -72px;
      transform: translateY(-50%);
      transition: background-color 0.4s ease;
    }
    &:hover {
      background-color: $color-text;
      border-color: $color-text;
      color: #fff;
      &::after {
        background-color: #fff;
        animation: hoverAnimation 2s ease-in-out infinite;
      }
    }
  }
}
@keyframes hoverAnimation {
  0%,
  100% {
    transform: translate(0, -50%);
  }
  50% {
    transform: translate(-20px, -50%);
  }
}
.single-cat-box {
  position: relative;
  z-index: 2;
}

@include media(bp767) {
  .single {
    padding-bottom: 108px;
  }
  .single-fv {
    height: calc(100svh - 396px);
  }
  .single-nav-link {
    width: calc(100% - 100px);
    margin-top: 11px;
    a {
      font-size: 11px;
    }
  }
  .single-logo {
    margin: 23px auto 58px;
    img {
      width: 126px;
    }
  }
  .single-border {
    width: 36px;
  }
  .single-cat-name {
    margin: 65px auto 12px;
    a {
      font-size: 14px;
      padding: 5px 18px;
    }
  }
  .single-title {
    font-size: 18px;
  }
  .single-contents {
    margin-top: 158px;
    p {
      font-size: 13px;
      margin-bottom: 72px;
    }
    img {
      margin-bottom: 72px;
    }
    hr {
      margin-bottom: 72px;
    }
    h2 {
      font-size: 24px;
      margin-bottom: 40px;
    }
    h3 {
      font-size: 20px;
      margin-bottom: 28px;
    }
    h4 {
      font-size: 18px;
      margin-bottom: 20px;
    }
    h5,
    h6 {
      font-size: 16px;
      margin-bottom: 18px;
    }
  }
  .back-btn {
    margin-bottom: 100px;
    width: 70%;
    text-align: center;
    a {
      font-size: 16px;
      padding: 4.5px 24px;
      width: 100%;
      &::after {
        width: 85px;
        left: -43px;
      }
    }
  }
}
