@use "../../foundation/base" as *;

/* fv
   ----------------------------------------------------------------- */
.fv {
  position: relative;
  width: 100%;
  height: 100vh;
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.fv-logo {
  margin-top: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fv-title {
  color: $color-text;
  text-align: center;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 30px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 6px;
  margin-bottom: 10px;
}
.fv-img {
  margin: 0 auto;
  img {
    width: 100%;
    height: 75vh;
  }
}

/* posts
   ----------------------------------------------------------------- */
.posts {
  padding-top: 100px;
  padding-bottom: 408px;
  position: relative;
  z-index: 2;
}
.posts-inner {
  @include innerWidth;
  margin: 0 auto;
}
.posts-text {
  width: fit-content;
  margin: 0 auto 145px;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 18px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
}
.posts-cat {
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
  margin-bottom: 180px;
}
.posts-cat-name {
  a {
    background-color: $color-text;
    color: #fff;
    font-size: 21px;
    font-style: normal;
    font-weight: 550;
    line-height: 1;
    font-family: $family-A-OTF-UDReiminPro-Medium;
    padding: 6.5px 27px;
    border-radius: 999px;
    display: block;
    transition: background-color 0.3s ease, color 0.3s ease;
    &:hover {
      background-color: #fff;
      color: $color-text;
    }
  }
}
.posts-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  row-gap: 60px;
}
.post-item {
  background-color: #fff;
  overflow: hidden;
  border: 1px solid $color-text;
}
.post-detail-link {
  display: block;
  &:hover {
    .post-img {
      .post {
        transform: scale(1.2);
      }
    }
  }
}
.post-detail-link-img {
  padding-bottom: 30px;
}
.post-img {
  overflow: hidden;
  height: 17.8vw;
  .post {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.8s ease;
  }
}
.post-contents-wrap {
  padding: 0 18px 40px;
}
.post-cat-name {
  a {
    color: #fff;
    font-family: $family-A-OTF-UDReiminPro-Medium;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    background-color: $color-text;
    padding: 4px 22px;
    border-radius: 999px;
  }
}
.post-title {
  text-align: justify;
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 16px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  margin: 12px 0 16px;
}
.post-border {
  width: 43.175px;
  height: 2px;
  background-color: $color-text;
  margin-bottom: 19px;
}
.post-excerpt {
  text-align: justify;
  font-family: $family-A-OTF-UDReiminPro-Light;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 196px;
  position: relative;
}
.pagination-cat {
  column-gap: 30px;
}
.page-num-link {
  display: flex;
  justify-content: center;
  column-gap: 30px;
}
.page-numbers {
  font-family: $family-A-OTF-UDReiminPro-Medium;
  font-size: 20px;
  font-style: normal;
  font-weight: 550;
  line-height: normal;
  letter-spacing: 2px;
}
.prev-link,
.next-link {
  position: absolute;
  a {
    &::before {
      content: "";
      display: block;
      width: 12.5px;
      height: 25px;
      background-color: $color-text;
      -webkit-mask-size: contain;
      mask-size: contain;
      -webkit-mask-position: center center;
      mask-position: center center;
      -webkit-mask-repeat: no-repeat;
      mask-repeat: no-repeat;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 1;
    }
  }
}
.prev-link {
  left: 0;
  a {
    padding-left: 32px;
    display: block;
    position: relative;
    z-index: 2;
    &::before {
      -webkit-mask-image: url(../assets/images/prev.svg);
      mask-image: url(../assets/images/prev.svg);
      left: 0;
    }
  }
}
.next-link {
  right: 0;
  a {
    padding-right: 32px;
    display: block;
    position: relative;
    z-index: 2;
    &::before {
      -webkit-mask-image: url(../assets/images/next.svg);
      mask-image: url(../assets/images/next.svg);
      right: 0;
    }
  }
}
.prev,
.next {
  position: absolute;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}
@include media(bp940) {
  .fv-img {
    img {
      height: auto;
    }
  }
}

@include media(bp767) {
  .fv {
    overflow: hidden;
    height: auto;
  }
  .fv-logo {
    margin-top: 38px;
    img {
      width: 176px;
    }
  }
  .fv-title {
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 2.8px;
  }
  .fv-img {
    height: 53vh;
    position: relative;
    bottom: -49px;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  .posts {
    padding-top: 95px;
    padding-bottom: 226px;
  }
  .posts-inner {
    width: calc(100% - 100px);
  }
  .posts-text {
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    margin-bottom: 89px;
  }
  .posts-cat {
    column-gap: 5px;
    row-gap: 14px;
    margin-bottom: 106px;
  }
  .posts-cat-name {
    a {
      font-size: 14px;
      font-style: normal;
      font-weight: 550;
      line-height: normal;
      padding: 0 18px;
    }
  }
  .posts-list {
    grid-template-columns: 1fr;
    row-gap: 20px;
  }
  .post-img {
    height: 53.1vw;
  }
  .post-detail-link-img {
    padding-bottom: 25px;
  }
  .post-contents-wrap {
    padding: 0 15px 33px;
  }
  .post-cat-name {
    a {
      font-size: 14px;
      padding: 5px 18px;
    }
  }
  .post-title {
    font-size: 16px;
    margin: 10px 0 14px;
  }
  .post-border {
    width: 36px;
    margin-bottom: 16px;
  }
  .pagination {
    margin-top: 111px;
  }
  .page-numbers {
    font-size: 10.56px;
    letter-spacing: 1.056px;
  }
  .prev-link,
  .next-link {
    a {
      &::before {
        width: 6.6px;
        height: 13.2px;
      }
    }
  }
  .prev-link {
    a {
      padding-left: 23px;
    }
  }
  .next-link {
    a {
      padding-right: 23px;
    }
  }
  .page-num-link {
    column-gap: 15px;
  }
}
